@model IEnumerable<Superheroes_MVC.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1 id="hiddenTitle">Index</h1>

<img src="~/images/marvel.jpg" id="bannerImg" alt="Banner image of Marvel heroes"/>

<div id="cardSection">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(x => item.Name)</h5>
                <p class="card-text">"@Html.DisplayFor(x => item.CatchPhrase)"</p>
                <a asp-controller="Superhero" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View bio</a>
            </div>
        </div>
    }
    <div class="card" style="width: 18rem;">
        <div class="card-body createCard">
            <a asp-controller="Superhero" asp-action="Create"><svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd" />
</svg></a>
        </div>
    </div>
</div>